# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\project-hrm-client-Mujeeb-work\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
